* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    background-image: url("../imgs/formal-invitation.svg");
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: #fff159;
}

.pwlogo {
    font-size: 1.7rem;
    margin-left: 2px;
    color: #3483fa;
}

.titleLogo {
    color: #000000;
}

.title__container a {
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.search input {
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 400px;
}

.lupa {
    background-color: #FFFFFF;
    padding: 9.5px 10px;
}

.navInfos__container {
    display: flex;
    gap: 30px;
}

.navInfos__container a {
    font-weight: 700;
    text-decoration: none;
    color: #3483fa;
}

.navInfos__container a:hover {
    text-decoration: underline;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.contato__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.contato__up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
    width: 450px;
    background-color: #fff159;
    border-radius: 8px 8px 0px 0px;
}

.itemContent__up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.subTitle {
    display: flex;
    align-items:center;
    gap: 5px;
}

.contato__down {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 50px;
    width: 450px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.20);
    background-color: #FFFFFF;
}

.forms__container {
    display: flex;
    flex-direction: column;
}

.title__down {
    text-align: center;
    padding: 30px 0;
}

.title__down h1{
    color: #fff159;
    font-weight: 700;
}

.inputs {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
}

.textareaValue {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.enviarBotao {
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 0;
    background-color: #fff159;
    font-weight: 700;
    color: #FFFFFF;
    border: none;
}

.footer__container {
    background-image: url("/src/imgs/Wave.svg");
    background-size: cover;
    padding: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ancor__container {
    width: 300px;
    display: flex;
    gap: 20px;
}

.title__footer {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ohomi {
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}

.ancorHomi {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #3483fa;
}