* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.nomeProduto {
    color: #3483fa;
    text-transform: capitalize;
}

.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: #fff159;
}

.pwlogo {
    font-size: 1.7rem;
    margin-left: 2px;
    color: #3483fa;
    font-weight: 700;
}

.title__container a {
    text-decoration: none;
}

.titleLogo {
    color: #000000;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.search input {
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 400px;
}

.lupa {
    background-color: #FFFFFF;
    padding: 9.5px 10px;
    
}

.navInfos__container {
    display: flex;
    gap: 30px;
}

.navInfos__container a {
    font-weight: 700;
    text-decoration: none;
    color: #3483fa;
}

.navInfos__container a:hover {
    text-decoration: underline;
}

.produtos__container {
    margin: 20px 100px;
}

.marq {
    width: 30vw;
    margin: auto;
    color: #3483fa;
}

.subtitle__container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.subTitle {
    text-transform: uppercase;
}

.more a {
    font-size: 1.2rem;
    color: #3483fa;
    text-decoration: none;
}

.produtos__itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.ancorProduto {
    margin-top: 20px;
    text-decoration: none;
}


.produto {
    width: 20vw;
    height: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    transition: .5s;
}

.produto:hover {
    box-shadow: 0px 9px 19px 0px rgba(0, 0, 0, 0.200);
}

.produto img {
    width: 19vw;
    height: 19vw;
}

.nomeProduto {
    margin-bottom: 10px;
}

.valores__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.valorDescontado {
    font-size: 1.4rem;
    color: #118C4F;
}

.valorAntigo {
    color: #c4c4c4;
    text-decoration: line-through;
}

.footer__container {
    background-image: url("/src/imgs/Wave.svg");
    background-size: cover;
    padding: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ancor__container {
    width: 300px;
    display: flex;
    gap: 20px;
}

.title__footer {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ohomi {
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}

.ancorHomi {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #3483fa;
}