* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: #fff159;
}

.pwlogo {
    font-size: 1.7rem;
    margin-left: 2px;
    color: #3483fa;
}

.title__container a {
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.search input {
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 400px;
}

.lupa {
    background-color: #FFFFFF;
    padding: 9.5px 10px;
}

.navInfos__container {
    display: flex;
    gap: 30px;
}

.navInfos__container a {
    font-weight: 700;
    text-decoration: none;
    color: #3483fa;
}

.navInfos__container a:hover {
    text-decoration: underline;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}


.servico__container h2 {
    padding: 20px 0px;
}

.servico__titles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-image: url("https://st2.depositphotos.com/1020070/7136/v/450/depositphotos_71362241-stock-illustration-professional-electrician-with-electric-tools.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titleLogo {
    color: #000;
}

.title {
    color:#fff159;
}

.info__container {
    padding: 20px 100px;
}

.subtitle__info {
    color: #c4c4c4;
}

.info__itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.info__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 15vw;
    height: 25vh;
    margin-bottom: 25px;
    transition: .3s;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.info__item:hover {
    box-shadow: 0px 9px 19px 0px rgba(0, 0, 0, 0.200);
    width: 17vw;
    white-space: nowrap;
}

.info__item img {
    width: 10vw;
    height: 15vh;
    border-radius: 8px;
}

.itemP {
    margin-top: 15px;
    text-align: center;
    color: #3483fa;
    font-weight: 600;
    text-transform: capitalize;
}

.info__title {
    margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
    .info__item {
        padding: 0px;
    }
}

.footer__container {
    background-image: url("/src/imgs/Wave.svg");
    background-size: cover;
    padding: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ancor__container {
    width: 300px;
    display: flex;
    gap: 20px;
}

.title__footer {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ohomi {
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}

.ancorHomi {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #3483fa;
}