* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: #fff159;
}

.pwlogo {
    font-size: 1.7rem;
    margin-left: 2px;
    color: #3483fa;
    font-weight: 700;
}

.title__container a {
    text-decoration: none;
}

.titleLogo {
    color: #000000;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.search input {
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 400px;
}

.lupa {
    background-color: #FFFFFF;
    padding: 9.5px 10px;
}

.navInfos__container {
    display: flex;
    gap: 30px;
}

.navInfos__container a {
    font-weight: 700;
    text-decoration: none;
    color: #3483fa;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}


.sobre__itens {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}

.sobre__itens h1 {
    font-size: 1.5rem;
}

.quemSomos {
    width: 50%;
    padding: 100px;
}

.quemSomos h1 {
    margin-bottom: 30px;
}

.historia {
    width: 50%;
    padding: 100px;
    background-color: #fff159;
}

.historia h1 {
    margin-bottom: 30px;
}

.obj__container {
    padding: 20px 100px;
}

.objItens__container {
    display: flex;
    gap: 15px;
}

.obj__title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.bgcor {
    background-color: #fff159;
}

.item {
    padding: 10px;
}

.item h5 {
    text-align: center;
    margin-bottom: 5px;
}

.footer__container {
    background-image: url("/src/imgs/Wave.svg");
    background-size: cover;
    padding: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ancor__container {
    width: 300px;
    display: flex;
    gap: 20px;
}

.title__footer {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ohomi {
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}

.ancorHomi {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #3483fa;
}